{
  "env": {
    "browser": true,
    "es2022": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb/base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": 0,
    "no-bitwise": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": 0,
    "no-use-before-define": 0,
    "prefer-destructuring": 0
  },
  "settings": {
    "react": {
      "version": "16"
    }
  }
}
